body { 
  min-height: 100vh;;
}

.converter {
  align-items: center;
  max-width: 700px;
  padding: 12vh 20px;
}

.footer article {
  text-align: center;
  justify-self: center;
}

.hide {
  display: none;
}

.logo {
  margin-right: 20px;
  max-width: 50px;
}